<div class="container">
  <mat-tab-group class="test">
<mat-tab label="Nivellement">
<mat-card>
<mat-stepper [linear]="isLinear" #stepper>
<!-- <mat-step [stepControl]="firstFormGroup"> -->
<!-- <form [formGroup]="firstFormGroup">
<ng-template matStepLabel>Données du groupe</ng-template>
<mat-form-field class="full-width">
<mat-label>Nom du Groupe</mat-label>
<input matInput type="text" formControlName="groupName" required>
</mat-form-field>
<mat-form-field class="full-width">
  <mat-label>Devise</mat-label>
<mat-select formControlName="currency">
<mat-option value="EUR">Euro</mat-option>
<mat-option value="USD">Dollar</mat-option>
<mat-option value="MAD">Dirhams</mat-option>
</mat-select>
</mat-form-field>
<mat-form-field class="full-width">
<mat-label>RIB</mat-label>
<input matInput type="text" formControlName="groupName" required/>
</mat-form-field>
<mat-form-field class="full-width">
<mat-label> Banque</mat-label>
<mat-select formControlName="currency" >
<mat-option value="EUR">SGMB</mat-option>
  <mat-option value="USD">Sg Tanger Offshore</mat-option>
</mat-select>
</mat-form-field>
<mat-form-field class="full-width">
  <mat-label>Bic</mat-label>
  <input matInput type="text" formControlName="Bic" required/>
</mat-form-field>
 
  <div class="address-form">
    <div class="form-row">
      <label for="addressLine1">Adresse - Ligne 1:</label>
      <mat-form-field class="full-width">
        <input matInput id="addressLine1" type="text" formControlName="addressLine1" required />
      </mat-form-field>
    </div>
  
    <div class="form-row">
      <label for="addressLine2">Adresse - Ligne 2:</label>
      <mat-form-field class="full-width">
        <input matInput id="addressLine2" type="text" formControlName="addressLine2" />
      </mat-form-field>
    </div>
  
    <div class="form-row">
      <label for="addressLine3">Adresse - Ligne 3:</label>
      <mat-form-field class="full-width">
        <input matInput id="addressLine3" type="text" formControlName="addressLine3" />
      </mat-form-field>
    </div>
  </div>
  
</form> -->


<!-- <form [formGroup]="firstFormGroup">
  <ng-template matStepLabel>Données du groupe</ng-template>

  <div class="form-row">
    <label for="groupName">Nom du Groupe:</label>
    <mat-form-field class="full-width">
      <input matInput id="groupName" type="text" formControlName="groupName" required>
    </mat-form-field>
  </div>

  <div class="form-row">
    <label for="currency">Devise:</label>
    <mat-form-field class="full-width">
      <mat-select formControlName="currency" id="currency">
        <mat-option value="EUR">Euro</mat-option>
        <mat-option value="USD">Dollar</mat-option>
        <mat-option value="MAD">Dirhams</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-row">
    <label for="rib">RIB:</label>
    <mat-form-field class="full-width">
      <input matInput id="rib" type="text" formControlName="groupName" required />
    </mat-form-field>
  </div>

  <div class="form-row">
    <label for="bank">Banque:</label>
    <mat-form-field class="full-width">
      <mat-select formControlName="currency" id="bank">
        <mat-option value="EUR">SGMB</mat-option>
        <mat-option value="USD">Sg Tanger Offshore</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-row">
    <label for="bic">Bic:</label>
    <mat-form-field class="full-width">
      <input matInput id="bic" type="text" formControlName="Bic" required />
    </mat-form-field>
  </div>

  <div class="address-form">
    <div class="form-row">
      <label for="addressLine1">Adresse - Ligne 1:</label>
      <mat-form-field class="full-width">
        <input matInput id="addressLine1" type="text" formControlName="addressLine1" required />
      </mat-form-field>
    </div>

    <div class="form-row">
      <label for="addressLine2">Adresse - Ligne 2:</label>
      <mat-form-field class="full-width">
        <input matInput id="addressLine2" type="text" formControlName="addressLine2" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <label for="addressLine3">Adresse - Ligne 3:</label>
      <mat-form-field class="full-width">
        <input matInput id="addressLine3" type="text" formControlName="addressLine3" />
      </mat-form-field>
    </div>
  </div>

</form> -->

<!-- </mat-step> -->
<!-- <mat-step [stepControl]="secondFormGroup">
  <form [formGroup]="secondFormGroup">
  <ng-template matStepLabel>Données du groupe</ng-template>
  <mat-form-field class="full-width">
  <mat-label>Nom du Societe</mat-label>
  <input matInput type="text" formControlName="groupName" required>
  </mat-form-field>
  <div class="address-form">
    <div class="form-row">
      <label for="addressLine1">Adresse - Ligne 1:</label>
      <mat-form-field class="full-width">
        <input matInput id="addressLine1" type="text" formControlName="addressLine1" required />
      </mat-form-field>
    </div>

    <div class="form-row">
      <label for="addressLine2">Adresse - Ligne 2:</label>
      <mat-form-field class="full-width">
        <input matInput id="addressLine2" type="text" formControlName="addressLine2" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <label for="addressLine3">Adresse - Ligne 3:</label>
      <mat-form-field class="full-width">
        <input matInput id="addressLine3" type="text" formControlName="addressLine3" />
      </mat-form-field>
    </div>
  </div>
  

  </form>
  </mat-step> -->

  <mat-step [stepControl]="thirdFormGroup3">
    <form [formGroup]="thirdFormGroup3">
    <ng-template matStepLabel>Données de chaque societe</ng-template>
    <div class="form-row">
      <label for="groupName">Nature des comptes:</label>
      <mat-form-field class="full-width">
        <input matInput id="groupName" type="text" formControlName="natureCompte" required>
      </mat-form-field>
    </div>
   
    <div class="form-row">
      <label for="percentage">Pourcentage:</label>
      <mat-form-field class="full-width">
        <input matInput id="percentage" formControlName="percentage"  type="number" step="0.01" min="0" max="100" placeholder="0.00" required />
        <span class="percent-symbol">%</span>
      </mat-form-field>
    </div>
    <div class="form-row">
      <label for="groupName">Taux créditeur:</label>
      <mat-form-field class="full-width">
        <input matInput id="groupName" type="text" formControlName="natureCompte" required>
      </mat-form-field>
    </div>
    <div class="form-row">
      <label for="groupName">Retenue à la sorce RAS:</label>
      <mat-form-field class="full-width">
        <input matInput id="groupName" type="text" formControlName="natureCompte" required>
      </mat-form-field>
    </div>
    
    </form>
    </mat-step>
</mat-stepper>
</mat-card>
</mat-tab>

<mat-tab label="ste2">
  <mat-card></mat-card>
</mat-tab>
<mat-tab label="ste3">
  <mat-card></mat-card>
</mat-tab>
</mat-tab-group>
</div>
